<%-include('header')%>
<!-- MAIN CONTENT-->
<div class="main-content">
  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="row m-t-30">
        <div class="col-md-12">
          <div class="d-flex justify-content-between">
            <form class="form-header" action="" method="">
              <input
                class="au-input au-input--xl mb-4"
                type="text"
                name="search"
                value="<%=search%>"
                placeholder="Search for datas by name, email"
              />
              <input
                class="btn au-btn--submit text-white mb-4"
                type="submit"
                name="searching"
                value="search"
              />
            </form>
            <div>
              <%if(currentPage!=0){%>
              <a
                href="/admin/category/view_category?page=<%=currentPage-1%>&search=<%=search%>"
                class="btn btn-info text-white"
                >Prev</a
              >
              <%}%>
              <a href="" class="btn btn-warning">
                <%=parseInt(currentPage)+1%>
              </a>
              <%var next=parseInt(currentPage)+1; if(next!=totalpage){%>
              <a
                href="/admin/category/view_category/?page=<%=next%>&search=<%=search%>"
                class="btn btn-info"
                >next</a
              >
              <%}%>
            </div>
          </div>
          <!-- DATA TABLE-->
          <form action="/admin/category/deleteMultiple" method="post">
            <div class="table-responsive m-b-40">
              <table class="table table-borderless table-striped table-earning">
                <thead>
                  <tr>
                    <th>
                      <input type="checkbox" id="checkAll" />
                      <button type="submit">
                        <i class="fa fa-trash text-info"></i>
                      </button>
                    </th>
                    <th>No</th>
                    <th>Category</th>
                    <th>created_date</th>
                    <th>updated_date</th>
                    <th>status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <%var no=currentPage*per_page+1;for(let ad of catData){%>
                  <tr>
                    <td>
                      <input
                        type="checkbox"
                        name="catIds[]"
                        value="<%=ad.id%>"
                      />
                    </td>
                    <td><%=no++%></td>
                    <td class="text-capitalize"><%=ad.category_name%></td>
                    <td class="text-capitalize"><%=ad.created_date%></td>
                    <td class="text-capitalize"><%=ad.updated_date%></td>
                    <% if(ad.status){%>
                    <td>
                      <a
                        href="/admin/category/deactive/<%=ad.id%>"
                        class="btn btn-success"
                        >Active</a
                      >
                    </td>
                    <%}else{%>
                    <td>
                      <a href="/admin/category/active/<%=ad.id%>" class="btn btn-danger"
                        >Deactive</a
                      >
                    </td>
                    <%}%>
                    <td>
                      <a href="/admin/category/deleteRecord/<%=ad.id%>"
                        ><i class="fa fa-trash text-danger"></i
                      ></a>
                      ||
                      <a href="/admin/category/updateRecord/<%=ad.id%>"
                        ><i class="fa fa-edit text-"></i
                      ></a>
                    </td>
                  </tr>
                  <%}%>
                </tbody>
              </table>
            </div>
          </form>
          <!-- END DATA TABLE-->
        </div>
      </div>
    </div>
  </div>
</div>
<%-include('footer')%>

<script>
  $("#checkAll").click(function () {
    $("input:checkbox").not(this).prop("checked", this.checked);
  });
</script>
